@model BotModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <a class="btn btn-success" asp-action="Start" asp-controller="Bot">شروع ربات</a>
    <br />
    <a class="btn btn-danger" asp-action="Stop" asp-controller="Bot">توقف ربات</a>
</div>


@*@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}*@